In [35]:
import pandas as pd
from sklearn.datasets import load_digits
digits=load_digits()
dir(digits)

['DESCR', 'data', 'feature_names', 'frame', 'images', 'target', 'target_names']

In [36]:
df=pd.DataFrame(digits.data)
df.head()

,0,1,2,3,4,5,6,7,8,9,...,54,55,56,57,58,59,60,61,62,63
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,5.0,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,9.0,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0

In [37]:
df['target']=digits.target
df.head()

,0,1,2,3,4,5,6,7,8,9,...,55,56,57,58,59,60,61,62,63,target
0,0.0,0.0,5.0,13.0,9.0,1.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,6.0,13.0,10.0,0.0,0.0,0.0,0
1,0.0,0.0,0.0,12.0,13.0,5.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,11.0,16.0,10.0,0.0,0.0,1
2,0.0,0.0,0.0,4.0,15.0,12.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,3.0,11.0,16.0,9.0,0.0,2
3,0.0,0.0,7.0,15.0,13.0,1.0,0.0,0.0,0.0,8.0,...,0.0,0.0,0.0,7.0,13.0,13.0,9.0,0.0,0.0,3
4,0.0,0.0,0.0,1.0,11.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,16.0,4.0,0.0,0.0,4

## Traditional Approach measuring score

In [8]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(df.drop('target',axis=1),df['target'])

In [11]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.ensemble import RandomForestClassifier
lr=LogisticRegression(max_iter=10000)
svm=SVC()
rf=RandomForestClassifier()

In [12]:
lr.fit(x_train,y_train)
lr.score(x_test,y_test)

0.9488888888888889

In [13]:
svm.fit(x_train,y_train)
svm.score(x_test,y_test)

0.98

In [14]:
rf.fit(x_train,y_train)
rf.score(x_test,y_test)

0.96

## Using KFold

In [19]:
def get_score(model,x_train,x_test,y_tran,y_test):
    model.fit(x_train,y_train)
    return model.score(x_test,y_test)

In [42]:
from sklearn.model_selection import StratifiedKFold
kf=StratifiedKFold(n_splits=3)

In [59]:
X=df.drop('target',axis=1)
y=df['target']

In [62]:
scores_lr=[]
scores_svm=[]
scores_rf=[]

for train_index,test_index in kf.split(X,y):
    X_train, X_test = X.iloc[train_index], X.iloc[test_index]
    y_train, y_test = y.iloc[train_index], y.iloc[test_index]
    scores_lr.append(get_score(LogisticRegression(max_iter=10000),X_train, X_test,y_train, y_test))
    scores_svm.append(get_score(SVC(),X_train, X_test,y_train, y_test))
    scores_rf.append(get_score(RandomForestClassifier(),X_train, X_test,y_train, y_test))

In [63]:
scores_lr

[0.9248747913188647, 0.9382303839732888, 0.9232053422370617]

In [64]:
scores_svm

[0.9649415692821369, 0.9799666110183639, 0.9649415692821369]

In [65]:
scores_rf

[0.9332220367278798, 0.9565943238731218, 0.9265442404006677]

## Using sklearn's cross_val_score

In [69]:
from sklearn.model_selection import cross_val_score
cvs_scores_lr=cross_val_score(LogisticRegression(max_iter=100000),X,y)

In [72]:
avg_score_lr=cvs_scores_lr.sum()/len(cvs_scores_lr)
avg_score_lr

0.9148731043020737