In [1]:
import pandas as pd
from sklearn import linear_model

In [2]:
df=pd.read_csv('data/homeprices-save-model.csv')
df

   area   price
0  2600  550000
1  3000  565000
2  3200  610000
3  3600  680000
4  4000  725000

model=linear_model.LinearRegression()
model.fit(df.drop('price',axis='columns'),df['price'])

In [6]:
model.predict([[3000]])

array([587979.45205479])

In [8]:
import pickle
with open('model_pickle','wb') as f:
        pickle.dump(model,f)

In [9]:
with open('model_pickle','rb') as f:
    mp=pickle.load(f)

In [10]:
mp.predict([[3000]])

array([587979.45205479])

In [12]:
import joblib
joblib.dump(model,'model_joblib')

['model_joblib']

In [13]:
mj=joblib.load('model_joblib')
mj.predict([[3000]])

array([587979.45205479])