In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [3]:
df=pd.read_csv('data/carprices.csv')
df.head()

   Mileage  Age(yrs)  Sell Price($)
0    69000         6          18000
1    35000         3          34000
2    57000         5          26100
3    22500         2          40000
4    46000         4          31500

In [4]:
x=df.drop('Sell Price($)',axis=1)
y=df['Sell Price($)']

In [12]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2)

In [7]:
x_train

    Mileage  Age(yrs)
12    59000         5
13    58780         4
16    28000         2
8     91000         8
5     59000         5
18    87600         8
3     22500         2
14    82450         7
17    69000         5
4     46000         4
7     72000         6
1     35000         3
6     52000         5
19    52000         5
15    25400         3
9     67000         6

In [13]:
from sklearn.linear_model import LinearRegression
model=LinearRegression()
model.fit(x_train,y_train)

LinearRegression()

In [9]:
model.predict(x_test)

array([17929.9394903 , 21717.54251012, 26199.11952893, 16541.99149232])

In [10]:
y_test

11    19500
0     18000
2     26100
10    18700
Name: Sell Price($), dtype: int64

In [14]:
model.score(x_test,y_test)

0.7671590817055726